.pane {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(three-pass-box, black, 8, 0, 0, 0);
}

.turtle {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, black, 4, 0, 2, 2);
}

.line {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, black, 6, 0, 0, 0);
}